:root {
    --main-background-color: #ffffff; /* Світла тема */
    --text-color: #333333; /* Колір тексту */
    --main-image: url('img/light-background.jpg'); /* Зображення для світлої теми */
}

body {
    min-height: 100vh; /* Забезпечення мінімальної висоти сторінки на весь екран */
    display: flex;
    flex-direction: column;
    background-color: var(--main-background-color);
    color: var(--text-color);
    background-image: var(--main-image);
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    transition: background-color 0.5s ease, color 0.5s ease; /* Плавна анімація зміни теми */
}

body.dark-theme {
    --main-background-color: #222222; /* Темна тема */
    --text-color: #ffffff;
    --main-image: url('img/dark-background.jpg'); /* Зображення для темної теми */
}


#logoImage {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

body.dark-theme #logoImage {
    filter: invert(0);
}

body:not(.dark-theme) #logoImage {
    filter: invert(1);
}


.image-button {
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
}

.image-button:hover img {
    transform: scale(1.1); /* Збільшення зображення при наведенні */
    transition: transform 0.3s ease;
}

/* Меню стилізація */
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 0;

}

.menu ul {
    margin-left: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu li {
    margin-right: 15px;
}

.menu a {
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
    position: relative;
    transition: color 0.3s;
}

.menu a:hover,
.menu .active a {
    color: #5900ff;
}

.menu a:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px; 
    background-color: #5900ff;
    width: 0;
    transition: width 0.3s;
}

.menu a:hover:after,
.menu .active a:after {
    width: 100%;
}

.menu .login {
    background-color: #3498db;
    padding: 10px 15px;
    border-radius: 5px;
}

/* Додаткове меню підпункту */
.menu .anime {
    position: relative;
}

.menu .additional-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #414141;
    padding: 10px;
    border-radius: 5px;
}

.menu .anime:hover .additional-menu {
    display: block;
}

.menu .additional-menu a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 8px;
    transition: background-color 0.3s;
}

.menu .additional-menu a:hover {
    background-color: #555;
}

.search-form {
    position: relative;
    margin: 10px 0;
}

#searchInput {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 200px; /* Змініть ширину за потребою */
}

#searchInput:focus {
    outline: none;
    border: 2px solid #5900ff;
}

#searchInput::placeholder {
    color: #aaa;
}

#searchButton {
    background-color: #5900ff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

#searchButton:hover {
    background-color: #4700d4;
}


main {
    flex: 1; 
    margin: 20px;
}

footer {
    padding: 10px;
    background-color: #333;
    color: #fff;
    text-align: center;
    margin-top: auto;
    position: relative; 
}

button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}



button.theme-toggle {
    padding: 10px 15px;
    background-color: var(--button-background);
    color: var(--button-text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    position: absolute;
    bottom: 10px; /* Встановлюємо відступ від нижнього краю футера */
    right: 10px; /* Встановлюємо відступ від правого краю футера */
}

.theme-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 5px;
    font-size: 18px;
}

body.dark-theme #sun {
    display: inline;
}

body.dark-theme #moon {
    display: none;
}

body:not(.dark-theme) #sun {
    display: none;
}

body:not(.dark-theme) #moon {
    display: inline;
}

button.theme-toggle:hover {
    background-color: darken(var(--button-background), 10%);
}

body.dark-theme button.theme-toggle:hover {
    background-color: lighten(var(--button-background-dark), 10%);
}


.topnew a {
    
    text-decoration: none;
    font-size: 18px; /* Змініть розмір шрифту за потребою */
    color: #333; /* Змініть колір тексту за потребою */
    position: relative;
    transition: color 0.3s ease;
}

.topnew a:hover {
    color: #555; 
    transform: scale(1.1);/* Змініть колір тексту при наведенні за потребою */
}


.topnew a:hover {
    color: #6200ff; /* Змініть колір при наведенні за потребою */
}

.topnew a:hover::after {
    opacity: 1;
    transform: scale(1.2); /* Збільшення розміру при наведенні */
    color: #6200ff; /* Змініть колір при наведенні за потребою */
}

.container{
    width: 1850px;
    height: 600px;
    display: flex;
    overflow-x: scroll;
}
.container::-webkit-scrollbar{
    display: none;
}

.container .gallery{
    width: 100%;
    display: flex;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;
}

.container .gallery img{
    width: 250px;
    height: 400px;
}


.controls{
    display: flex;
    justify-self: center;
    align-items: center;
    margin: 10% auto;
}





.controls #rightBtn, .controls #leftBtn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px;
    margin: 5px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    opacity: 1; /* Початкова прозорість кнопок */
    transition: opacity 0.3s ease; /* Плавна анімація зміни прозорості */
}

button.left {
    left: 0;
}

button.right {
    right: 0;
}




